{
  "extends": "airbnb-base",

  "parserOptions": {
    "sourceType": "script"
  },

  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "no-return-assign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off"
  }
}
